table {
    border: none;
    border-spacing: 5px;
    margin: 0 auto;
}

table td:hover {
  background: #FFFF66;
}

#tablero {
  text-align: center;
}

.tateti tr td {
  cursor: pointer;
  border-color: #333;
  font-size: 8em;
  width: 150px;
  height: 150px;
}

table.tateti tr td:first-child {
  border-left: none;
}

table.tateti tr td:last-child {
  border-right: none;
}

table.tateti tr:first-child td {
  border-top: none;
}

table.tateti tr:last-child td {
  border-bottom: none;
}
